.generos {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
}

.livros-genero {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.linha-destaque--pequena {
  width: 2rem;
}

.texto-h3-prata {
  font-family: var(--font-prata);
  font-size: 1.75rem;
  font-weight: var(--font-weight-normal);
  line-height: 110%;
  text-align: center;
}
